Flask==1.1.1
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.15.5
numpy==1.18.1
scipy>=1.4.1
pandas>=1.0.1
pytz>=2017.3
python-dateutil>=2.7.3
six>=1.5
scikit-learn>=0.18
matplotlib>=1.4.3
nltk>=3.2.5
regex>=2020.11.11
graphviz==0.16
requests>=2.25.1
git+git://github.com/online-ml/river.git
utils
